#search-lists{
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top:80px;
    width: inherit;
    background-color: #f0f3fa;
}

.search-item{
    margin: 0px;
    display: flex;
    justify-content: space-around;
}   

.search-item:hover{
    background-color: #d1d4da;
    cursor: pointer;
}