#search-lists{
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top:80px;
    width: inherit;
    background-color: #f0f3fa;
}

.search-item{
    padding: 6px 0;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 1fr;
    text-align: center;
}   

.search-item span img{
    height: 20px;
}
.search-item:hover{
    background-color: #d1d4da;
    cursor: pointer;
}