
#search-lists{
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top:80px;
    width: inherit;
    background-color: #f0f3fa;
    border-radius: 10px;
    box-shadow: 2px 4px #eff0f1;
}


.search-item{
    padding: 6px 0;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 1fr;
    text-align: left;
    position: relative;
}   

.search-item span img{
    height: 20px;
}
.search-item:hover{
    background-color: #d1d4da;
    cursor: pointer;
}

.country{
    text-align: right;
}

.input-container{
    display: flex;
    position: absolute;
    left: 100px;
}