#forgot-password {
    background-image: url('C:\Users\Khanh\Desktop\NUS_Khanh\2023 Summer\stockXtremeReact\src\public\img\jerry-zhang-SJGiS1JzUCc-unsplash.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  #forgot-password .container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column; /* Changed from align-items to column direction */
    align-items: center;
  }
  
  #forgot-password h1 {
    color: #12067f;
    text-align: center; /* Added to center-align the heading */
    margin-bottom: 10px;
  }
  
  #forgot-password form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  
  #forgot-password input[type="email"] {
    width: 250px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  #forgot-password p {
    text-align: center;
    margin-bottom: 10px;
  }
  
  button {
    justify-content: center;
    padding: 10px 20px;
    background-color: #12067f;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #forgot-password a {
    text-align: center;
    justify-content: center;
    text-decoration: underline;
    color: #0088ff;
    margin-top: 10px;
  }
  