nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
}

.logo-container{
    height: 60px;
}

nav img{
    height: 100%;
}

.profile-container{
    border: none;
    background-color: transparent;
    overflow: hidden;
    cursor: pointer;
    height: 40px;
}